mixin formelement(label)
  .form-group
    label.col-sm-2.control-label= label
    .col-sm-10
      block

mixin textinput(label, model, placeholder)
  - placeholder = placeholder || label
  +formelement(label)
    input.form-control(type="text" placeholder=placeholder ng-model=model)

mixin datepicker(label, model)
    label.col-sm-2.control-label= label
    .col-sm-4
      .dropdown
        a.dropdown-toggle(data-toggle="dropdown")
          .input-group
          input.form-control(type="text" placeholder=label value="{{ " + model + " | myDate }}" readonly)
            .input-group-addon
              i.glyphicon.glyphicon-calendar
        ul.dropdown-menu
          datetimepicker(ng-model=model)


h1 Add new event
form.form-horizontal
  +textinput('Title', 'event.title')

  .form-group
    +datepicker('From', 'event.date_from')
    +datepicker('To', 'event.date_to')

  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-default(type="submit" ng-click="submit()") Add event
