mixin formgroup(model)
  .form-group(ng-class="{'has-error': form.$submitted && form['"+model+"'].$invalid, 'has-success': form.$submitted && form['"+model+"'].$valid}")
    block

mixin formelement(label, model)
  +formgroup(model)
    label.col-sm-2.control-label= label
    .col-sm-10
      block

mixin textinput(label, model, placeholder)
  - placeholder = placeholder || label
  +formelement(label, model)
    case required
      when 1
        input.form-control(type="text" name=model placeholder=placeholder ng-model=model required)
        .help-block(ng-show="form.$submitted && form['"+model+"'].$error.required") #{label} is required.
      default
        input.form-control(type="text" name=model placeholder=placeholder ng-model=model)

mixin datepicker(label, model)
  +formgroup(model)
    label.col-sm-2.control-label= label
    .col-sm-4
      .dropdown
        a.dropdown-toggle(data-toggle="dropdown")
          .input-group
            input.form-control(type="text" placeholder=label value="{{ " + model + " | myDate }}" readonly)
            .input-group-addon
              i.glyphicon.glyphicon-calendar
        .help-block(ng-show="form.$submitted && form['"+model+"'].$error.required") #{label} is required.
        .help-block(ng-show="form.$submitted && form['"+model+"'].$error.dateafter") End date must be after begin date.
        ul.dropdown-menu
          datetimepicker(name=model ng-model=model required)

h1 {{action}} event
form.form-horizontal(name="form" ng-submit="submit()" ng-class="{submitted: form.$submitted}" novalidate)

  - required = 1
  +textinput('Title', 'event.title')

  - required = 0
  +textinput('Speaker', 'event.speaker')
  +textinput('Homepage', 'event.speaker_url', 'http://institution.edu/~speaker/')

  +datepicker('From', 'event.date_from')
  +datepicker('To', 'event.date_to')

  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-default(type="submit") {{action}} event
